<div class="page" id="sobre-mim">
  <!-- Header -->
  <header class="bp-header cf">
    <!-- Nome -->
    <span class="bp-header__present">
      Bruno Garcia
      <span
        class="bp-tooltip bp-icon bp-icon--about"
        data-content="Amante em desenvolvimento, louco por novas experiências e sempre buscando novos desafios "
      >
      </span>
    </span>

    <!-- Profissão -->
    <h1 class="bp-header__title">Desenvolvedor Full-Stack Jr.</h1>

    <!-- Descrição -->
    <p class="bp-header__desc">
      Desenvolvedor Full-Stack, graduado em Ciências da Computação. Inglês
      avançado. Comunicativo, resiliente e comprometido, atuei como estagiário
      por 2 anos na área de desenvolvimento de software e 8 meses na área de
      desenvolvimento front-end, com suporte nível 1 ao desenvolvimento de
      soluções por terceiros e desenvolvendo sites, landpages e onepages. Como
      Desenvolvedor Full-Stack Jr, liderei e desenvolvi 3 projetos em equipe, e
      realizo manutenções continuamente em outros. Disponível para viagens e
      mudanças.
    </p>

    <!-- Modal Feedback -->
    <div
      id="modal-options"
      data-iziModal-fullscreen="true"
      data-izimodal-group="group1"
      data-izimodal-loop=""
      data-iziModal-title="Toda crítica é bem vinda!"
      data-iziModal-subtitle="Fale Comigo"
      data-iziModal-icon="icon-home"
      data-izimodal-zindex="999999999"
    >
      <!-- Modal content -->
      <div class="tab-content">
        <div id="signup">
          <iframe
            src="https://form.jotform.com/210628002840646"
            width="100%"
            height="450"
            style="border: none"
          >
          </iframe>
        </div>
      </div>
    </div>

    <nav class="bp-nav">
      <a
        class="bp-nav__item bp-icon bp-icon--drop open-options"
        style="transition: 0.5s"
        href="#"
        data-info="deixar um Feedback"
        data-izimodal-open="#modal"
        data-izimodal-transitionin="fadeInDown"
        ><span> deixar um Feedback</span>
      </a>

      <a
        class="bp-nav__item bp-icon bp-icon--archive"
        style="transition: 0.5s"
        href="assets/documents/cv/Bruno_Garcia_Resume.zip"
        download
        data-info="Baixar CV"
      >
        <span>Ir para CV</span>
      </a>
    </nav>
  </header>
  <img
    class="poster"
    src="assets/images/sobre-mim/sobre-mim.png"
    alt="Bruno Garcia"
  />
</div>
